<section class="row flex-lg-row-reverse align-items-center g-5 pt-5 pb-5">
  <div class="col-12 col-sm-8 col-lg-6">
    <img src="/assets/img/homeHeroImg.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
      width="700" height="500" loading="lazy">
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold text-body-emphasis text-center text-md-start lh-1 mb-3">
      <span class="text-primary">No hay límites para</span>
      <br>lo que puedes lograr en nuestro gym
    </h1>
    <p class="lead text-center text-md-start">
      <span class="fw-medium">Únete a nuestro exclusivo programa de socios - MaxM - MaxiP</span><br>
      Disfruta de beneficios únicos, acceso ilimitado a nuestras instalaciones de última generación y el acompañamiento
      de entrenadores expertos.
    </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Inscríbete Ahora</button>
    </div>
  </div>
</section>

<section class="pb-5">
  <div class="container">
    <div class="row gy-3">
      <div class="col-md-4">
        <div class="card benefit-card text-center h-100">
          <div class="card-body">
            <div class="benefit-icon">
              <i class="bi bi-heart text-primary"></i>
            </div>
            <h3 class="benefit-title">Salud y Bienestar</h3>
            <p class="benefit-text">Promovemos un estilo de vida saludable con programas personalizados y asesoramiento
              profesional.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card benefit-card text-center h-100">
          <div class="card-body">
            <div class="benefit-icon">
              <i class="bi bi-star text-primary"></i>
            </div>
            <h3 class="benefit-title">Aplicación para Miembros</h3>
            <p class="benefit-text">Nuestros planes de membresía incluyen características exclusivas como el seguimiento
              de asistencia y creación de rutina personalizada.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card benefit-card text-center h-100">
          <div class="card-body">
            <div class="benefit-icon">
              <i class="bi bi-people text-primary"></i>
            </div>
            <h3 class="benefit-title">Comunidad Activa</h3>
            <p class="benefit-text">Únete a una comunidad de personas motivadas y apasionadas por el fitness y el
              bienestar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-5">
  <div class="container">
    <h2 class="fw-bolder text-uppercase">Horarios de Clases</h2>
    <div class="pt-4 table-responsive">
      <table class="table schedule-table table-striped-columns">
        <thead>
          <tr class="text-primary">
            <th></th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <td class="time-slot">Mañana</td>
            <td>
              <span class="fw-bold fs-6 text-uppercase">Yoga</span><br>
              <span class="fw-bold text-primary">08:00 - 09:00</span>
            </td>
            <td>

            </td>
            <td>
              <span class="fw-bold fs-6 text-uppercase"> Funcional</span><br>
              <span class="fw-bold text-primary">08:00 - 09:00</span>
            </td>
            <td>
              <span class="fw-bold fs-6 text-uppercase">Yoga</span><br>
              <span class="fw-bold text-primary">08:00 - 09:00</span>
            </td>
            <td>
            </td>
            <td>

            </td>
          </tr>
          <tr>
            <td class="time-slot">Tarde</td>
            <td>
            </td>
            <td>
              <span class="fw-bold fs-6 text-uppercase">Yoga</span><br>
              <span class="fw-bold text-primary">14:00 - 15:00</span>
            </td>
            <td>
              <span class="fw-bold fs-6 text-uppercase">Pilates</span><br>
              <span class="fw-bold text-primary">14:00 - 15:00</span>
            </td>
            <td>
            </td>
            <td>
              <span class="fw-bold fs-6 text-uppercase">Yoga</span><br>
              <span class="fw-bold text-primary">14:00 - 15:00</span>
            </td>
            <td>
              <span class="fw-bold fs-6 text-uppercase">Pilates</span><br>
              <span class="fw-bold text-primary">14:00 - 15:00</span>
            </td>
          </tr>
          <tr>
            <td class="time-slot">Noche</td>
            <td>
              <span class="fw-bold fs-6 text-uppercase"> Funcional</span><br>
              <span class="fw-bold text-primary">19:00 - 20:00</span>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              <span class="fw-bold fs-6 text-uppercase">Pilates</span><br>
              <span class="fw-bold text-primary">19:00 - 20:00</span>
            </td>
            <td>
              <span class="fw-bold fs-6 text-uppercase"> Funcional</span><br>
              <span class="fw-bold text-primary">19:00 - 20:00</span>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="pb-5">
  <div class="container">
    <h2 class="fw-bolder text-uppercase text-end">Nuestros Profesores</h2>
    <div class="row row-cols-1 row-cols-md-3 gy-3 pt-4">
      <div class="col">
        <div class="card teacher-card h-100 h-100">
          <img src="../../assets/img/profe2.jpg" class="card-img-top teacher-img" alt="Profesor 2">
          <div class="card-body teacher-info">
            <h3 class="card-title teacher-name">María González</h3>
            <p class="card-text text-primary-emphasis fst-italic">Instructora de Yoga</p>
            <p class="card-text">Con más de 10 años de experiencia, dedicada a guiar a sus estudiantes hacia el
              equilibrio físico y mental.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card teacher-card h-100 h-100">
          <img src="../../assets/img/profe1.jpg" class="card-img-top teacher-img" alt="Profesor 3">
          <div class="card-body teacher-info">
            <h3 class="card-title teacher-name">Carlos López</h3>
            <p class="card-text text-primary-emphasis fst-italic">Entrenador de Crossfit</p>
            <p class="card-text">Campeón nacional de Crossfit y especialista en entrenamiento de alta intensidad.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card teacher-card h-100 h-100">
          <img src="../../assets/img/profe3.jpg" class="card-img-top teacher-img" alt="Profesor 2">
          <div class="card-body teacher-info">
            <h3 class="card-title teacher-name">Ana Rodríguez</h3>
            <p class="card-text text-primary-emphasis fst-italic">Instructora de Pilates</p>
            <p class="card-text">Con más de 8 años de experiencia en la enseñanza. Especializada en rehabilitación
              física y fortalecimiento corporal.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>