<div class="container">
    <div class="d-flex justify-content-between">
        <h1>Admin Dashboard</h1>
    </div>
    <div class="row row-cols-1 row-cols-sm-3 g-3">
        <div class="col d-grid ah-home-button">
            <div class="btn btn-primary ah-button">
                <i class="bi bi-people"></i>

                     <div class="btn-text fs-4">Usuarios</div>
                
            </div>
        </div>
        <div class="col d-grid ah-home-button">
            <div class="btn btn-primary ah-button">
                <i class="bi bi-people"></i>
                <div class="btn-text fs-4">Socios</div>
            </div>
        </div>
        <div class="col d-grid ah-home-button">
            <div class="btn btn-primary ah-button">
                <i class="bi bi-people"></i>
                <div class="btn-text fs-4">Ejercicios</div>
            </div>
        </div>
        <div class="col d-grid ah-home-button">
            <div class="btn btn-primary ah-button">
                <i class="bi bi-people"></i>
                <div class="btn-text fs-4">Clases</div>
            </div>
        </div>
        <div class="col d-grid ah-home-button">
            <div class="btn btn-primary ah-button">
                <i class="bi bi-people"></i>
                <div class="btn-text fs-4">Profesores</div>
            </div>
        </div>
        <div class="col d-grid ah-home-button">
            <div class="btn btn-primary ah-button">
                <i class="bi bi-people"></i>
                <div class="btn-text fs-4">Aventos</div>
            </div>
        </div>
    </div>
</div>