<div class="row text-center">
    <h1 class="fs-2">{{action}} Clase</h1>
    <!-- Para probar
    <p>clase: {{classForm.value | json}}</p> -->
</div>
<div class="row justify-content-center">
    <div class="object-form">
        <form [formGroup]="classForm" class="row g-3" (ngSubmit)="onSubmit()">
            <div class="col-md-6">
              <label for="inputName" class="form-label">Nombre</label>
              <input id="inputName" type="text" [class.is-invalid]="name?.invalid && (name?.dirty || name?.touched)" class="form-control" formControlName="name">
              <div *ngIf="validateNameRequired()" class="invalid-feedback">
                El campo no puede estar vacío.
              </div>
              <div *ngIf="validateNameMinLength()" class="invalid-feedback">
                El nombre debe tener al menos 3 caracteres.
              </div>
              <div *ngIf="validateNamePattern()" class="invalid-feedback">
                El nombre solo puede contener letras y espacios.
              </div>
            </div>
          
            <div class="col-md-12">
              <label for="inputDescription" class="form-label">Descripción</label>
              <textarea id="inputDescription" [class.is-invalid]="description?.invalid && (description?.dirty || description?.touched)" class="form-control" rows="3" formControlName="description" required></textarea>
              <div *ngIf="validateDescriptionRequired()" class="invalid-feedback">
                El campo no puede estar vacío.
              </div>
            </div>
          
            <div class="col-md-6">
              <label for="inputSchedule" class="form-label">Horario</label>
              <input id="inputSchedule" type="text" [class.is-invalid]="schedule?.invalid && (schedule?.dirty || schedule?.touched)" class="form-control" formControlName="schedule" required>
              <div *ngIf="validateScheduleRequired()" class="invalid-feedback">
                El campo no puede estar vacío.
              </div>
            </div>
          
            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" [disabled]="classForm.invalid">{{action}}</button>
            </div>
          </form>
    </div>
</div>